body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.judul {
  font-size: 28px;
  color: #333;
}

.form-container {
  padding: 10px;
}

.mb-5 {
  margin-bottom: 1rem !important;
}

.contact-form label {
  font-size: 16px;
  color: #333;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.contact-form button {
  background-color: #100f0f;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #121010;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 15px;
  }

  .contact-form button {
    width: 100%;
  }
}
